/*Favicon image from: https://www.flaticon.es/icono-gratis/lapiz_3986151?term=pencil&page=1&position=28&origin=search&related_id=3986151*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 10px;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* centra verticalment */
  justify-content: center;
  /* centra horitzontalment */

}

header {
  font-size: 2.25rem;
  /* Aproximaci贸 de text-4xl */
  margin: 1.25rem;
  /* Aproximaci贸 de m-5 */
  text-align: center;
}
@media (min-width: 768px) {

  /* Aproximaci贸 del breakpoint "md" de Tailwind */
  header {
    font-size: 4rem;
    /* Aproximaci贸 de md:text-6xl */
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  max-height: calc(100vh - 40px - 1.25rem);
  overflow: hidden;
}



footer {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* ////////////////////////////////////////////OTHER/////////////////////////////////////////////////////// */

/* ///////LOADER//////// */


.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

/* ///////CANVAS//////// */



.div-canvas {
  display: flex; /* per centrar el canvas dins del div */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}



/*Border for development purposes: border-solid border-2 border-indigo-600*/