/*Favicon image from: https://www.flaticon.es/icono-gratis/lapiz_3986151?term=pencil&page=1&position=28&origin=search&related_id=3986151*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../public/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
	padding:20px;
	padding-bottom: 10px;
}

/*Border for development purposes: border-solid border-2 border-indigo-600*/
