/*Favicon image from: https://www.flaticon.es/icono-gratis/lapiz_3986151?term=pencil&page=1&position=28&origin=search&related_id=3986151*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/*Modified from https://www.freepik.com/free-vector/variety-colors-hand-painted-background_843572.htm#query=background%20sketch%20color&position=5&from_view=search&track=ais*/
	background-image: url("../public/background.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

/*Border for development purposes: border-solid border-2 border-indigo-600*/
